// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vertical-line {
  // margin : 10px;
  width: 0.1px; 
  height: 0.1px; 
  background-color: #c0c0c0
}
